body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.menu {
    width: 80%;
    margin: auto;
}

.logo {
    display: block;
    margin: 20px auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #e64a19;
    transform: scale(1.05);
}

h1, h2, h3 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}

a {
    color: #ff5722;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: orange;
}

.navbar a:hover {
    text-decoration: underline;
}

#video-player {
    text-align: center;
}

#queue-container {
    margin-top: 20px;
}

#video-queue {
    list-style-type: none;
    padding: 0;
}